/test_1.obf.zip
/Jamaica_centralamerica_2.obf.zip
/mobile_map_downloader2
/TEST-DEVICE2
/TEST-DEVICE1
/mobile_map_downloaderb1
/TEST-DEVICEb1
/mobile_map_downloaderl3
/mobile_map_downloaderm2
/TEST-DEVICEl3
/TEST-DEVICEm2
/mobile_map_downloaderm1
/mobile_map_downloaderm3
/TEST-DEVICEm1
/TEST-DEVICEm3
